<html>
<head>
  <meta charset="UTF-8"/>
  <title>OVI Registration</title>
  <link rel="stylesheet" type="text/css" href="foodadd.component.css"/>
</head>
<body>
<form>
  <div class="block1">
    <div class="blocknamefood">
      <button type="submit" class="backB">BACK</button>
      <button type="submit" class="addB">ADD</button>
      <input class="nameInp" placeholder="ADD NAME">
    </div>
    <input class="blokdescr">
    <div class="descripInp">Add description</div>

    <input class="blokprice" >
    <div class="priceInp"> Add price</div>

    <input class="blokingred">
    <div class="ingredInp"> Add ingredients</div>
    </div>

</form>

</body>
</html>
