<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="order.component.css" type="text/css"/>
</head>

<body>
<div id="border">
  <div class="b">
    <div class="a"><strong>Your orders</strong></div>
    <div id="sidebar">Sum</div>
    <div class="sidebar1"><div class="t256">256</div></div><br><br>
    <div class="leftstr"><strong>Office</strong></div>
    <div class="rightstr"><strong>Address</strong></div>
    <div class="rightstr2"><strong>Food price</strong></div><br><br>

    <div class="A1">1</div><hr>
    <div class="A2">2</div><hr>
    <div class="A3">3</div><hr>
    <div class="A4">4</div><hr>
    <div class="A5">5</div>
  </div>
</div>
</body>
</html>

